.container {

    background-color: rgb(134, 223, 223);

    height: 710px;

    width: 600px;

    margin: 80px 300px;

    padding: 20px 20px;
}

.fname {

    width: 290px;

    height: 25px;

}

.dob {

    width: 595px;

    height: 25px;
}

.submit {
    height: 35px;
    width: 61px;
    background-color: rgb(161, 255, 98);
    border: 0px;
}

.submit:hover {
    background-color: rgb(175, 175, 175);
}